@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

$font-family-sans-serif: 'Quicksand', sans-serif !default;
$font-family-monospace: 'Cutive Mono', monospace !default;
$font-family-base: $font-family-sans-serif !default;